# EditorConfig helps developers define and maintain consistent
# EditorConfig帮助开发人员定义和维护一致性
# coding styles between different editors and IDEs
# 不同编辑器和ide之间的编码样式
# 打开需要格式化的文件并手动格式化代码（Mac OS ：shift+option+f  Windows ：shift+alt+f）
# editorconfig.org
# editorconfig顶级配置文件,停止向上寻找配置文件
root = true

[*]
# # 以下四个选项，会被映射为Prettier的 useTabs, tabWidth, printWidth, endOfLine

# 缩进样式
indent_style = space
# 缩进大小
indent_size = 2
# 每行最大长度
max_line_length = 110
# 行尾类型
end_of_line = lf

# 以下选项不建议更改
# 字符集=utf-8
charset = utf-8
# 删除行尾空格
trim_trailing_whitespace = true
# 插入最后一行
insert_final_newline = true

